@page "/"
@namespace WebApplication7.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WebApplication7</title>
    <base href="~/"/>
     <link rel="stylesheet" href="css/bulma/bulma.min.css"/>
        <link rel="stylesheet" href="css/fontawesome/all.min.css" />
       <script src="js/all.min.js"></script>
        <link href="css/site.css" rel="stylesheet"/>
</head>
<body>
<app>
    <component type="typeof(App)" render-mode="Server"/>
</app>

<script src="_framework/blazor.server.js"></script>
</body>
</html>