@page "/Data"
<section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Welcome to assignment 1</h1>
          <h2 class="subtitle">Please select one of the <strong>buttons</strong>, to see and manipulate Adult data.</h2>
        </div>
      </div>
    </section>
@code {
   
}